{% block sidebar %}

<style>
        .card1{
            color: #1b4d89;
            background-color: #ffffff;
            box-shadow: 0 6px 20px #e3e7eb;
        }
        .card-header{
            color: #000000;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card1 my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> The best ideas can change who we are. Mind Blogs is where those ideas take shape, take off, and spark powerful conversations. We’re an open platform where  readers come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.</p>
{#        <a href="#"#}
{#           class="btn btn-danger">Know more!</a>#}
    </div>
</div>
</div>

{% endblock sidebar %}